# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Gradle
.gradletasknamecache
.gradle/
build/
bin/

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OSX hidden files
.DS_Store

# Example Data
algs4-data/
percolation-data/
collinear-data/
8puzzle-data/
